.divDeviceStatus {
  display: table;
  width: 95%;
  padding: 5px;
  table-layout: fixed;
  max-inline-size: 450px;
}

.status {
  display: table-cell;
}

.titulo {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: larger;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.cabecera {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-variant-alternates: historical-forms;
  text-decoration: underline;
  text-shadow: .5px .5px 2px #3b3b3b;

}